body {
    background: white;
    font-size: 16px;
    color: #404040;
}

.homeLogo {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/home-hero.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    @keyframes resize {
      100% {
      transform: rotate(360deg);    
      }
    }

    .bigLogo:hover {
      animation-duration: 1.7s;
      animation-name: resize;
      animation-direction: alternate;
      animation-iteration-count: 2;
    }
  }

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Novecento Sans normal';
    padding: 50px 0;
    text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 32.5px;
  font-family: 'Novecento Sans bold normal';
  padding: 40px 0;
  text-transform: uppercase;
}

// Product Categories Section Starts

.shopGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shopContainer {
    width: 250px;
    height: 235px;
    border: 1px solid #a1a1a1;
    border-top-width: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px 5px;
    transition: 0.3s;

    &:hover {
        border-color: #d99054;
      }

      p {
        font-family: 'Merriweather normal';
        line-height: 30px;
        padding: 0 7.5px;
        font-size: 16px;
      }

      a {
        background-color: #248A83;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Novecento Sans normal';
        transition: 0.3s;
  
        &:hover {
          background-color: darken(#248A83, 22%);
        }
      }

      .shopLogos {
        width: 65px;
    }
}
// Product Categories Section Ends

// Journal Section Starts

.homeJournal {
    height: 550px;
  }

.journalGrid {
    width: 87.5%;
    height: 350px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .jorChildren {
    width: 350px;
    height: 371px;
    border: 1px solid #a1a1a1;

    .image img {
      width: 350px;
      height: 205px;
      border-bottom: 5px solid #a1a1a1;
    }

    p {
      font-family: 'Merriweather normal';
      font-size: 0.8em;
      padding: 20px 15px 10px;
      margin-bottom: 0;
    }
    
    h3 {
      margin: 0;
      margin-bottom: 7.5px;
      padding: 0 15px 20px;
      text-transform: uppercase;
      line-height: 1.2em;
      font-size: 1.2em;
      letter-spacing: 2px;
      font-family: 'Novecento Sans bold normal';
      color: #248A83;

      a {
        text-decoration: none;
        color: #248A83;
        transition: 0.3s;

        &:hover {
          color: #2f1339;
        }
      }
    }

    .click {
        color: black;
        border: 1px solid black;
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 15px;
        font-family: 'Novecento Sans normal';
        transition: 0.3s;

        &:hover {
          background-color: #248A83;
          border-color: #248A83;
          color: white;
        }
    }
}






